@model zzbj.models.UserLoginModel
@{
    Layout = null;
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="@Url.Content("~/Content/css/login_style.css")" type="text/css" />
    <link href="@Url.Content("~/Content/Validate/bvalidator.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/css/skins/black.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Scripts/jquery-1.8.2.js")" type="text/javascript"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/LoginPage.js")"></script>
    @*数据验证*@
    <script src="@Url.Content("~/Scripts/jquery.bvalidator.js")" type="text/javascript"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/js/artDialog.js")"></script>
    <title>浙江舟山海洋生态环境监测系统</title>
</head>
<body>
    <div class="login_bg">
        <div class="form_pos">
            @using (Html.BeginForm())
            {
                <ul>
                    <li>
                        @Html.TextBoxFor(model => model.UserName, new Dictionary<string, object>() { { "class", "user_txt" }, { "data-bvalidator", "required" } })
                    </li>
                    <li>
                        @Html.PasswordFor(model => model.Password, new Dictionary<string, object>() { { "class", "user_txt" }, { "data-bvalidator", "required" } })
                    </li>
                    <li>
                        @Html.TextBoxFor(model => model.UserAuthCode, new Dictionary<string, object>() { { "class", "test_txt" }, { "data-bvalidator", "required" } })
                        @Html.Raw("<script type='text/javascript'>$(function () {errorTip('" + Model.ErrorMsg + "');});</script>")
                        <img src="@Url.Content("~/RemoteHandlers/ValidationCode.ashx")" onclick="this.src='/RemoteHandlers/ValidationCode.ashx?'+Math.random();" alt="点击刷新" height="30" title="点击刷新" style="vertical-align:middle;" />
                    </li>
                </ul>
                <input id="login" type="submit" value="" class="btn_style" />
            }
        </div>
    </div>
</body>
</html>
